@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik Doodle Shadow";
    src: url("/fonts/rubic_doodle_shadow/regular.ttf");
}

@font-face {
    font-family: "Titillium Web Regular";
    src: url("/fonts/titillium_web/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "Titillium Web Light";
    src: url("/fonts/ti");
}

@layer base {
    html {
        font-family: "Titillium Web Regular" !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web Regular" !important;
}
