@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik Doodle Shadow";
    src: url("/regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold !important;
    font-family: "Rubik Doodle Shadow" !important;
}

.slick-dots li {
    border-radius: 50%;
    width: 15px !important;
    color: #aad5ff;
    height: 15px !important;
    background-color: #000b20;
}
