@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif !important;
}

.slick-dots li {
    border-radius: 50%;
    width: 15px !important;
    color: #aad5ff;
    height: 15px !important;
    background-color: #000b20;
}
